<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="categories term">
  {{ partial "bgstyle.html" . }}

  <main class="flex-container container">
    {{ partial "header.html" . }}

    {{ .Content }}
    
    <article>
      <ul>
      {{ range .Data.Pages.ByDate }}
        {{/* Unnecessary slicing of MD5 hashes. Why you ask? Good question. */}}
        {{ $md5 := md5 .Title }}
        {{ $md5len := int (strings.RuneCount $md5) }}
        <li>
          <span><meta name="format-detection" content="telephone=no">
          {{ slicestr $md5 (sub $md5len 3) $md5len }}.{{ slicestr $md5 0 3 }}
          </meta></span>
          <a href="{{.RelPermalink}}">{{.Title | markdownify}}</a>
        </li>
        {{ end }}
      </ul>
    </article>

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}

  </main>
</body>
</html>
