<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="_default list">
  {{ partial "bgstyle.html" . }}

  <main class="flex-container container">
    
    {{ partial "header.html" . }}
  
    <article>
      {{ .Content }}
      <ul>
      {{ range sort (where site.RegularPages.ByDate "Type" "in" "post") }}
        {{ .Render "list-item" }}
      {{ end }}
      </ul>
    </article>

    
    {{ with .NextInSection }}
    <nav>  
      <h3 class="go-center">&rarr; <a class="next" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
    </nav>
    {{ end }}

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}
  </main>
</body>

</html>
