<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="default single">
  {{ partial "bgstyle.html" . }}



  <main class="flex-container container">

    {{ partial "header.html" . }}
  
    <article>
      {{ .Content }}
    </article>

    
    {{ with .NextInSection }}
    <nav class="section-nav">  
      <h3 class="go-center">&rarr; <a class="next" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
    </nav>
    {{ end }}

    {{ partial "nav.html" . }}
    {{ partial "footer.html" . }}
  </main>
</body>

</html>
