<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body class="front">
  {{ partial "bgstyle.html" . }}
  
  <main class="flex-container container">
    {{ partial "header.html" . }}
    
    <nav role="navigation" class="flex-container big-link">
        {{ if .Site.Menus.main }}
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{.Name}}</a>
          {{ end }}
        {{ end }}
    </nav>

    {{ partial "footer.html" . }}

  </main>
</body>

</html>