<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    {{ partial "head/js.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    <!-- particles.js container -->
    <div id="particles-js"></div>

    <nav role="navigation" class="flex-container">
        <h1>{{ .Site.Title }}</h1>
        
        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link">
                {{.Title | markdownify}}
            </a>
        {{ end }}
        {{ end }}
    </nav>


    <!-- particles.js container -->
    <div id="particles-js"></div>
    {{ $main := resources.Get "js/index.js" }}
    <script src='{{ $main.RelPermalink }}'></script>

</body>

</html>
