{{ define "head_resources" }}
	<!-- partial -->
	<script src='https://unpkg.com/three@0.83.0'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5.1/dat.gui.min.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/shaders/CopyShader.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/postprocessing/EffectComposer.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/postprocessing/RenderPass.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/postprocessing/ShaderPass.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/shaders/HorizontalBlurShader.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/shaders/VerticalBlurShader.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/shaders/FilmShader.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/shaders/LuminosityHighPassShader.js'></script>
	<script src='https://unpkg.com/three@0.83.0/examples/js/postprocessing/UnrealBloomPass.js'></script>
	<script src='https://cdn.rawgit.com/felixturner/bad-tv-shader/master/BadTVShader.js'></script>

	{{ $hologram := resources.Get "holographic-projection/dist/script.js" }}
	<script src='{{ $hologram.RelPermalink }}'></script>
{{ end }}


{{ define "section_content" }}
<article role="article" class="flex-container">

<div class="hologram">
	<img src='{{ .Params.Hologram | relURL}}' />
</div>

{{ .Content }}
</article>

<nav>
	{{ with .NextInSection }}
	<h3 class="go-center">&rarr; <a class="next" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h3>
	{{ end }}
</nav>
{{ end }}